<form [formGroup] = "userPasswordChangeForm" (ngSubmit)="changePassword()">

<p>
    <mat-form-field appearance="outline">
      <mat-label>Old Password</mat-label>
      <input matInput formControlName='oldPassword' [type]="showPasswordOld ? 'text' : 'password'" placeholder="Old Password">
      <mat-icon appearance="outline" matSuffix class="hover" (click)='showPasswordOld = !showPasswordOld' matTooltip="Click to show password">vpn_key</mat-icon>
      <mat-error *ngIf="userPasswordChangeForm.controls.oldPassword.errors && (userPasswordChangeForm.controls.oldPassword.dirty || userPasswordChangeForm.controls.oldPassword.touched)">
        Invalid password - must have 6 characaters with at least a capital letter and number.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput formControlName='newPassword' [type]="showPassword ? 'text' : 'password'" placeholder="newPassword">
      <mat-icon matSuffix class="hover" (click)='showPassword = !showPassword' matTooltip="Click to show password">vpn_key</mat-icon>
      <mat-error *ngIf="userPasswordChangeForm.controls.newPassword.errors && (userPasswordChangeForm.controls.newPassword.dirty || userPasswordChangeForm.controls.newPassword.touched)">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput formControlName='confirmPassword' [errorStateMatcher] = "matcher" [type]="showPassword ? 'text' : 'password'" placeholder="Confirm New Password">
      <mat-icon matSuffix class="hover" (click)='showPassword = !showPassword' matTooltip="Click to show password">vpn_key</mat-icon>
      <mat-error *ngIf="userPasswordChangeForm.hasError('mismatch') && (userPasswordChangeForm.controls.newPassword.dirty || userPasswordChangeForm.controls.newPassword.touched)">
        Passwords do not match.
      </mat-error>
    </mat-form-field>
  </p>
  <button mat-raised-button color = "primary" type="submit" [disabled]="!userPasswordChangeForm.valid">Submit</button>
</form>